.container {


    margin: 20px;

    top: 70px;

width: 70%;

}

.mytbody {}

.headerCategory {

    display: flex;
    align-items: center;
    margin-bottom: var(--mediomspace);
    position: sticky;
}

.tableContainer {
    overflow-y: scroll;
    height: 75vh;
}


.categoryFolder {
    overflow-y: auto;
    width: 100%;
    border-collapse: collapse;


    /* border-collapse: collapse */
}

.categoryFolder th {
    height: 40px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    text-align: right;

    top: 0;


}

.categoryFolder th {
   background-color: white;
z-index: 10;
    position: sticky;

}

.categoryFolder tr {
    height: 40px;


}

.categoryFolder td {
    overflow: hidden;
    height: 100%;
    border-bottom: 1px solid #dddddd;


}

.tdEditIcon {
    text-align: left;

}


.icon {
    width: 20px;
    height: 20px;
}



.arrowIcon {

    margin: 0px 5px;


}

.folderIcon {}

.CategoryName {
    font-size: 14px;
    margin: 0 8px;



}


.tdCategoryName {
    position: relative;

}

.CategoryName {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.childCategoryName {
    padding-right: 30px;
}

.trMainCategory {
    background-color: rgb(241, 241, 241);
}


.searchBox {
    display: flex;
    height: 38px;
    border: solid 1px var(--darkLing);
    border-radius: 10px;
    width: 100%;
    margin-left: 10px;


}

.searchInput {

    border: none;
    width: 100%;
    margin-left: 20px;
}

.searchInput:focus {
    outline: none;
}